{% extends 'layout.html' %}
{% load static %}

{% block title %}Jobs at {{ company.name }}{% endblock %}

{% block body %}
    <h1 class="mb-10">Jobs at {{ company.name }}</h1>
    <div class="table-container">
        <table id="jobs-container">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Page</th>
                    <th>First Seen</th>
                    <th>Last Seen</th>
                    <th>Apply</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody>
                {% include 'components/job_list.html' with jobs=pages show_page=True show_first_seen=True show_last_seen=True show_source=True %}
                {% for job in pages %}
                {% empty %}
                    <tr>
                        <td colspan="6" style="text-align: center; background-color: var(--background-color);">No jobs found yet</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <span class="mbt-10"></span>
    <div class="pagination flexbox-row aic">
        {% if pages.has_previous %}
            <a href="?page=1" class="pagination-navigation" style="padding: 1px 8px;">First</a>
            <a href="?page={{ pages.previous_page_number }}" class="pagination-navigation"><span class="material-symbols-outlined">chevron_left</span></a>
        {% endif %}
        <span class="space-lr">Page {{ pages.number }} of {{ pages.paginator.num_pages }}</span>
        {% if pages.has_next %}
            <a href="?page={{ pages.next_page_number }}" class="pagination-navigation"><span class="material-symbols-outlined">chevron_right</span></a>
            <a href="?page={{ pages.paginator.num_pages }}" class="pagination-navigation" style="padding: 1px 8px;">Last</a>
        {% endif %}
    </div>
{% endblock %}