{% extends 'layout.html' %}
{% load static %}

{% block title %}Jobs at {{ company.name }}{% endblock %}

{% block body %}
    <h1 class="mb-10">Jobs at {{ company.name }}</h1>
    <div class="table-container">
        <table id="jobs-container">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Job ID</th>
                    <th>Last Seen</th>
                    <th>First Seen</th>
                    <th>Page</th>
                    <th>Apply</th>
                </tr>
            </thead>
            <tbody>
                {% for job in pages %}
                    <tr>
                        <td>{{ job.title }}</td>
                        <td>{{ job.job_id|default:"-" }}</td>
                        <td data-tippy-content="{{ job.last_seen }} UTC">{{ job.last_seen|timesince }} ago</td>
                        <td data-tippy-content="{{ job.first_seen }} UTC">{{ job.first_seen|timesince }} ago</td>
                        <td><a href="{% url 'core:page_detail' job.page.id %}" class="a">Page</a></td>
                        <td>
                            {% if job.url %}
                                <a href="{{ job.url }}" target="_blank" class="a">Apply</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" style="text-align: center; background-color: var(--background-color);">No jobs found yet</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <span class="mbt-10"></span>
    <div class="pagination flexbox-row aic">
        {% if pages.has_previous %}
            <a href="?page=1" class="pagination-navigation" style="padding: 1px 8px;">First</a>
            <a href="?page={{ pages.previous_page_number }}" class="pagination-navigation"><span class="material-symbols-outlined">chevron_left</span></a>
        {% endif %}
        <span class="space-lr">Page {{ pages.number }} of {{ pages.paginator.num_pages }}</span>
        {% if pages.has_next %}
            <a href="?page={{ pages.next_page_number }}" class="pagination-navigation"><span class="material-symbols-outlined">chevron_right</span></a>
            <a href="?page={{ pages.paginator.num_pages }}" class="pagination-navigation" style="padding: 1px 8px;">Last</a>
        {% endif %}
    </div>{% endblock %}