{% extends 'layout.html' %}
{% load static %}
{% block title %}Hawk Tracker{% endblock %}

{% block hidden_data %}
    <input type="hidden" name="subscribe-to-watchlist-url" value="{% url 'api:watchlist-subscribe' %}" id="subscribe-to-watchlist-url">
{% endblock %}

{% block body %}
    <div class="flexbox-row jcsb aic">
        <h1>Notifications</h1>
{#        Make a settings page or popup for users to manage their notification settings #}
        <a href="" class="material-symbols-outlined button">tune</a>
    </div>
    <div class="table-container">
        <table id="notification-container">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Page</th>
                    <th>Link</th>
                    <th>Last Seen</th>
                </tr>
            </thead>
            <tbody id="notification-list">
                {% for notification in notifications %}
                    {% for job in notification.jobs.all %}
                        <tr>
                            <td>{{ job.title }}</td>
                            <td><a href="{% url 'core:company_detail' job.company.id %}" class="block-link">{{ job.company }}</a></td>
                            <td><a href="{% url 'core:page_detail' job.page.id %}" class="block-link">{{ job.page|truncatechars:30 }}</a></td>
                            <td><a href="{{ job.page.url }}" class="a flexbox-row aic" target="_blank"><span class="material-symbols-outlined" style="font-size: 1rem;">open_in_new</span>{{ job.page.url|truncatechars:30 }}</a></td>
                            <td data-tippy-content="{{ job.last_seen }} UTC">{{ job.last_seen|timesince }} ago</td>
                        </tr>
                    {% endfor %}
                {% empty %}
                    <tr style="background-color: var(--background-color);">
                        <td colspan="4" style="text-align: center; padding-top: 10px;">No notifications yet. <a href="{% url 'core:watchlist_create' %}" class="a">Create a watchlist</a> or
                            <a href="{% url 'core:watchlist_list' %}" class="a">explore watchlists</a>.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <span class="mbt-10"></span>
    <div class="pagination flexbox-row aic">
        {% if notifications.has_previous %}
            <a href="?page=1" class="pagination-navigation" style="padding: 1px 8px;">First</a>
            <a href="?page={{ notifications.previous_page_number }}" class="pagination-navigation"><span class="material-symbols-outlined">chevron_left</span></a>
        {% endif %}
        <span class="space-lr">Page {{ notifications.number }} of {{ notifications.paginator.num_pages }}</span>
        {% if notifications.has_next %}
            <a href="?page={{ notifications.next_page_number }}" class="pagination-navigation"><span class="material-symbols-outlined">chevron_right</span></a>
            <a href="?page={{ notifications.paginator.num_pages }}" class="pagination-navigation" style="padding: 1px 8px;">Last</a>
        {% endif %}
    </div>

    <span class="mbt-20"></span>

    <h1 style="margin-bottom: 0;">Watchlists</h1>
    <span class="mb-10 flexbox-row jcfs aic">
        <span class="flexbox-row aic">
            <span class="material-symbols-outlined">add</span>
            <a href="{% url 'core:watchlist_create' %}" class="a">
                <span>Create a watchlist</span>
            </a>
        </span>
        <span class="flexbox-row aic" style="margin-left: 10px;">
            <span class="material-symbols-outlined">search</span>
            <a href="{% url 'core:watchlist_list' %}" class="a">
                <span>Explore watchlists</span>
            </a>
        </span>
    </span>
    <div id="watchlist-container" class="table-container">
        <table>
            <colgroup>
                <col style="width: 50%;">
                <col>
                <col>
                <col>
             </colgroup>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Pages</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for watchlist in watchlists %}
                    <tr>
                        <td><a href="{% url 'core:watchlist_detail' watchlist.id %}" style="display: block;">{{ watchlist.name }}</a></td>
                        <td>{{ watchlist.owner }}</td>
                        <td>{{ watchlist.page_count }} page{{ watchlist.page_count|pluralize }}</td>
                        <td class="flexbox-row ajc">
                            {% if watchlist.owner == request.user %}
                                <button class="edit-watchlist-button flexbox-row ajc" data-tippy-content="Edit watchlist">
                                    <span class="material-symbols-outlined">edit</span>
                                </button>
                            {% endif %}
                            <button class="unfollow-watchlist-button flexbox-row ajc" data-tippy-content="Unfollow watchlist" data-watchlist-id="{{ watchlist.id }}" data-operation="unsubscribe"><span class="material-symbols-outlined">notifications_off</span></button>
                        </td>
                    </tr>
                {% empty %}
                    <span class="mbt-10">No watchlists subscribed.</span>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/watchlist_utils.js' %}"></script>
{% endblock %}