{% extends 'layout.html' %}
{% load static %}
{% block title %}Hawk Tracker{% endblock %}

{% block body %}
    <div class="flexbox-row jcsb aic">
        <h1>Notifications</h1>
{#        Make a settings page or popup for users to manage their notification settings #}
        <a href="" class="material-symbols-outlined button">tune</a>
    </div>
    <div class="table-container">
        <table id="notification-container">
            <thead>
                <tr>
                    <th>Jobs</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="notification-list">
                <tr style="background-color: var(--background-color);">
                    <td colspan="4" style="text-align: center; padding-top: 10px;">No notifications yet. <a href="{% url 'core:watchlist_create' %}" class="a">Create a watchlist</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <span class="mbt-20"></span>

    <h1 style="margin-bottom: 0;">Watchlists</h1>
    <div id="watchlist-container" class="table-container">
        <table>
            <colgroup>
                <col style="width: 50%;">
                <col>
                <col>
                <col>
             </colgroup>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Pages</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for watchlist in watchlists %}
                    <tr>
                        <td><a href="{% url 'core:watchlist_detail' watchlist.id %}" style="display: block;">{{ watchlist.name }}</a></td>
                        <td>{{ watchlist.owner }}</td>
                        <td>{{ watchlist.page_count }} page{{ watchlist.page_count|pluralize }}</td>
                        <td class="flexbox-row ajc">
                            {% if watchlist.owner == request.user %}
                                <button class="edit-watchlist-button flexbox-row ajc" data-tippy-content="Edit watchlist">
                                    <span class="material-symbols-outlined">edit</span>
                                </button>
                            {% endif %}
                            <button class="unfollow-watchlist-button flexbox-row ajc" data-tippy-content="Unfollow watchlist"><span class="material-symbols-outlined">notifications_off</span></button>
                        </td>
                    </tr>
                {% empty %}
                    <span class="mbt-10">No watchlists yet. <a href="{% url 'core:watchlist_create' %}" class="a">Create a watchlist</a></span>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/notification-renderer.js' %}"></script>
{% endblock %}