{% extends 'layout.html' %}

{% block title %}Hawk Tracker{% endblock %}

{% block body %}
    <div class="hero">
        <h1>Hawk Job Tracker</h1>
        <p>
            Track career pages for jobs and get instant notifications when new jobs are posted.
        </p>

        <div class="flexbox-row column-twothird center aic jcsb pad-30 mbt-20" id="cta-stats">
            <div class="flexbox-column ajc">
                <span>Following</span>
                <h1>{{ num_companies }}</h1>
                <span>Companies</span>
            </div>


            <div class="flexbox-column ajc">
                <span>Found</span>
                <h1>{{ num_jobs }}</h1>
                <span>Jobs</span>
            </div>

            <div class="flexbox-column ajc">
                <span>Tracking</span>
                <h1>{{ num_pages }}</h1>
                <span>Pages</span>
            </div>
        </div>

        <div class="flexbox-row ajc center mbt-20">
            <a href="{% url 'users:login' %}" style="margin: 0 10px;">
                <button class="cta-button">Log In</button>
            </a>
            <a href="{% url 'users:register' %}" style="margin: 0 10px;">
                <button class="cta-button">Sign Up</button>
            </a>
        </div>
    </div>
    <div class="table-container" style="margin: 20px 0 50px;">
        <table id="notification-container">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Page</th>
                    <th>First Seen</th>
                    <th>Last Seen</th>
                    <th>Apply</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody id="notification-list">
                {% include 'components/job_list.html' with jobs=recent_jobs show_company=True show_page=True show_first_seen=True show_last_seen=True is_email=False show_source=True %}
            </tbody>
        </table>
    </div>
{% endblock %}