{% extends 'layout.html' %}

{% block title %}Hawk Tracker{% endblock %}

{% block libraries %}
    <script src="https://cdn.plot.ly/plotly-3.1.0.min.js" charset="utf-8"></script>
    <input type="hidden" name="recent-job-count-api-url" id="recent-job-count-api-url" value="{% url 'api:recent_job_count' %}">
{% endblock %}

{% block body %}
    <div class="hero">
        <h1>Hawk Job Tracker</h1>
        <p>
            Track career pages for jobs and get instant notifications when new jobs are posted.
        </p>

        <div class="flexbox-row column-twothird center aic jcsb pad-30 mbt-20" id="cta-stats">
            <div class="flexbox-column ajc">
                <span>Following</span>
                <h1>{{ num_companies }}</h1>
                <span>Companies</span>
            </div>


            <div class="flexbox-column ajc">
                <span>Found</span>
                <h1>{{ num_jobs }}</h1>
                <span>Jobs</span>
            </div>

            <div class="flexbox-column ajc">
                <span>Tracking</span>
                <h1>{{ num_pages }}</h1>
                <span>Pages</span>
            </div>
        </div>

        <div class="flexbox-row ajc center mbt-20">
            <a href="{% url 'users:login' %}" style="margin: 0 10px;">
                <button class="cta-button">Log In</button>
            </a>
            <a href="{% url 'users:register' %}" style="margin: 0 10px;">
                <button class="cta-button">Sign Up</button>
            </a>
        </div>
    </div>

    <div class="mbt-20 column-full center" id="recent-job-count-container"></div>

    <div class="table-container" style="margin: 20px 0 50px;">
        <table id="notification-container">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Page</th>
                    <th>First Seen</th>
                    <th>Last Seen</th>
                    <th>Apply</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody id="notification-list">
                {% include 'components/job_list.html' with jobs=recent_jobs show_company=True show_page=True show_first_seen=True show_last_seen=True is_email=False show_source=True %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        const recentJobsAPIURL = document.querySelector('#recent-job-count-api-url').value;
        fetch(recentJobsAPIURL)
            .then(res => res.json())
            .then(data => {
                data.type = 'scatter';
                data.line = {color: '#F38904FF', shape: 'spline', smoothing: 1};
                data.name = '';
                data.hovertemplate = '%{y} jobs found';
                data.hoverlabel = {font: {family: 'Poppins', size: 14, weight: 600}};
                const layout = {
                    title: 'Recent Jobs',
                    margin: {left: 0, right: 0, top: 0, bottom: 0},
                    padding: {left: 0, right: 0, top: 0, bottom: 0},
                    plot_bgcolor: window.getComputedStyle(document.body).getPropertyValue('background-color'),
                    paper_bgcolor: window.getComputedStyle(document.body).getPropertyValue('background-color'),
                    font: {
                        color: window.getComputedStyle(document.body).getPropertyValue('color'),
                        family: 'Poppins',
                    }
                };
                Plotly.newPlot(
                    'recent-job-count-container',
                    [data],
                    layout,
                    {
                        displayModeBar: false,
                    }
                );
            })
    </script>
{% endblock %}