{% extends 'layout.html' %}

{% block title %}{{ page.name }}{% endblock %}

{% block body %}
    <h1 class="mb-10">{{ page.name }}</h1>
    <div class="table-container">
        <table>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ page.name }}</td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td class="flexbox-row jcfs"><a href="{{ page.url }}" class="a flexbox-row aic" target="_blank"><span class="material-symbols-outlined" style="font-size: 1rem;">open_in_new</span>{{ page.url|truncatechars:40 }}</a></td>
                </tr>
                <tr>
                    <td>Company</td>
                    <td><a href="{% url 'core:company_detail' page.company.id %}" class="block-link">{{ page.company.name }}</a></td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{ page.location }}</td>
                </tr>
                <tr>
                    <td>Remote</td>
                    <td>{% if page.is_remote %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <td>Years of Experience</td>
                    <td>{{ page.years_of_experience }}</td>
                </tr>
                <tr>
                    <td>Level</td>
                    <td>{{ page.get_level_display }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h1 class="mb-10">Jobs</h1>
    <div class="table-container">
        <table id="jobs-container">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Job ID</th>
                    <th>Last Seen</th>
                    <th>First Seen</th>
                </tr>
            </thead>
            <tbody>
                {% for job in pages %}
                    <tr>
                        <td>{{ job.title }}</td>
                        <td>{{ job.job_id|default:"-" }}</td>
                        <td data-tippy-content="{{ job.last_seen }} UTC">{{ job.last_seen|timesince }} ago</td>
                        <td data-tippy-content="{{ job.first_seen }} UTC">{{ job.first_seen|timesince }} ago</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" style="text-align: center; background-color: var(--background-color);">No jobs found yet</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <span class="mbt-10"></span>
    <div class="pagination flexbox-row aic">
        {% if pages.has_previous %}
            <a href="?page=1" class="pagination-navigation" style="padding: 1px 8px;">First</a>
            <a href="?page={{ pages.previous_page_number }}" class="pagination-navigation"><span class="material-symbols-outlined">chevron_left</span></a>
        {% endif %}
        <span class="space-lr">Page {{ pages.number }} of {{ pages.paginator.num_pages }}</span>
        {% if pages.has_next %}
            <a href="?page={{ pages.next_page_number }}" class="pagination-navigation"><span class="material-symbols-outlined">chevron_right</span></a>
            <a href="?page={{ pages.paginator.num_pages }}" class="pagination-navigation" style="padding: 1px 8px;">Last</a>
        {% endif %}
    </div>
{% endblock %}