{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ watchlist.name }}{% endblock %}

{% block hidden_data %}
    <input type="hidden" name="subscribe-to-watchlist-url" value="{% url 'api:watchlist-subscribe' %}" id="subscribe-to-watchlist-url">
{% endblock %}

{% block body %}
    <div class="flexbox-row jcsb aic">
        <h1 class="mb-10">{{ watchlist.name }}</h1>
    </div>
    <div class="mb-10 flexbox-column">
        <strong>Created by {{ watchlist.owner.username }}</strong>
        {% with watchlist.subscribers.count as sub_count %}
        <strong>{{ sub_count }} subscriber{{ sub_count|pluralize }}</strong>
        {% endwith %}
        <p>{{ watchlist.description }}</p>
    </div>
    <div class="flexbox-row pad-10 aic jcfs">
        <label for="search-pages" class="material-symbols-outlined" style="margin-right: 10px;">search</label>
        <div class="search-results-container flexbox-column">
            <input type="search" name="search-pages" id="search-pages" class="search-bar" placeholder="Search for pages">
            <div class=" hidden search-results flexbox-column">

            </div>
        </div>
    </div>
    <div class="table-container">
        <table id="watchlist-detail-container">
            <thead>
                <tr>
                    <th>Page</th>
                    <th>Company</th>
                    <th>URL</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="watchlist-detail-list">
                {% for page in pages %}
                    <tr>
                        <td><a href="{% url 'core:page_detail' page.id %}" style="display: block;">{{ page.name }}</a></td>
                        <td><a href="{% url 'core:company_detail' page.company.id %}" class="block-link">{{ page.company.name }}</a></td>
                        <td class="flexbox-row jcfs"><a href="{{ page.url }}" class="a flexbox-row aic" target="_blank"><span class="material-symbols-outlined" style="font-size: 1rem;">open_in_new</span>{{ page.url|truncatechars:30 }}</a></td>
                        <td style="text-align: center; vertical-align: middle;"><span class="material-symbols-outlined center remove-page-button" data-tippy-content="Remove page from watchlist">close</span></td>
                    </tr>
                {% empty %}
                    <tr style="background-color: var(--background-color);">
                        <td colspan="3" style="text-align: center; padding-top: 10px;">No pages in this watchlist.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <span class="mbt-10"></span>

    <div class="pagination flexbox-row aic">
        {% if pages.has_previous %}
            <a href="?page=1" class="pagination-navigation" style="padding: 1px 8px;">First</a>
            <a href="?page={{ pages.previous_page_number }}" class="pagination-navigation"><span class="material-symbols-outlined">chevron_left</span></a>
        {% endif %}
        <span class="space-lr">Page {{ pages.number }} of {{ pages.paginator.num_pages }}</span>
        {% if pages.has_next %}
            <a href="?page={{ pages.next_page_number }}" class="pagination-navigation"><span class="material-symbols-outlined">chevron_right</span></a>
            <a href="?page={{ pages.paginator.num_pages }}" class="pagination-navigation" style="padding: 1px 8px;">Last</a>
        {% endif %}
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/watchlist_utils.js' %}"></script>
{% endblock %}
